{% extends "layout.html" %}

{% block title %}
    Inscription Medecin
{% endblock %}
{% block content %}
    <h4 class="text-center mb-4">Inscription</h4>
    <form action="/inscription_medecin" method="post">
      <div class="row mb-3">
        <div class="col">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom" minlength="3" required>
        </div>
        <div class="col">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="prenom" name="prenom" minlength="3" placeholder="Votre prénom" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="adresse" class="form-label">Adresse</label>
          <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Votre adresse" required>
        </div>
        <div class="col">
          <label for="sexe" class="form-label">Sexe</label>
          <select class="form-select" id="sexe" name="sexe" required>
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="specialite" class="form-label">Spécialité</label>
          <input type="text" class="form-control" id="specialite" name="specialite" placeholder="Votre spécialité" required>
        </div>
        <div class="col">
          <label for="telephone" class="form-label">Téléphone</label>
          <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Votre téléphone" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Votre email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        </div>
        {% if error %}
      <p style="color: red;">{{error}}</p>
      {%endif%}
    </div>
    <br>
      <div class="row mb-3">
        <div class="col">
          <label for="motdepasse" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="motdepasse" name="passw" placeholder="Votre mot de passe" required>
        </div>
        <div class="col">
          <label for="confirmermotdepasse" class="form-label">Confirmer mot de passe</label>
          <input type="password" class="form-control" id="confirmermotdepasse" name="confrm_pass2" placeholder="Confirmer votre mot de passe" required>
        </div>
      </div>
      {% if erreur %}
      <p style="color: red;">{{erreur}}</p>
      {%endif%}
      <div class="text-center">
        <button type="submit" class="btn btn-primary" onclick="checkPasswordMatch()">S'inscrire</button>
       
      </div>
      <p id="mot_de_passe_erreur"></p>
     
    </form>
  </div>
 
  
  {% endblock %}
      
 