{% extends "layout.html" %}

{% block title %}
    Login Patient
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h4>Connection Patient</h4>
        <form action="/login_patient" method="post">
          <div class="form-group">
            <label for="nom">Email:</label>
            <input type="email" class="form-control" id="nom" name="nom_pa">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Se connecter</button>
          <a href="/inscription_patient" class="btn btn-primary">S'inscrire</a>
          {% if erreur %}
          <div class="alert alert-danger">{{ erreur }}</div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}